:root {
    /* Colors */
    --color-text: 	#fff;
    --color-primary: #ffd7e2;
    --color-secondary: 	#ffcdd8;
    --color-dark: #ffc3ce;
    --color-bg: #ffb9c4;

    /* Fonts */
    --font-roboto: "Roboto";
}   