@import "../../vars.css";

.container {
  color: var(--color-text);
  font: 300 25px var(--font-roboto);
  display: flex;
  gap: 150px;
  position: relative;
  background-color: rgb(214, 141, 153);
  border-radius: 15px;
  padding: 63px;
  margin: 79px 10% 0;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  width: 60%;
  display: flex;
  gap: 40px;
}

.pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}
.pictures p {
  font: 500 25px var(--font-roboto);
  text-align: center;
}

.pictures img {
  width: 105px;
}
.pic {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
}

.shidae {
  text-decoration: none;
  font: 500 25px var(--font-roboto);
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    display: block;
  }
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
    width: 100%;
  }
  .pictures {
    padding-top: 15%;
    flex-direction: row;
  }
  .pic {
    background-color: transparent;
  }
}
